*{
    box-sizing: border-box;
    
}
.page{
    margin: auto;
}

.font{
    font-family: Comic Sans MS, Comic Sans, cursive;
    
}
h1{
    margin-top: 5%;
    
    text-align: center;
}





.t_div{
    float: right;
    width: 150px;
    height: 40px;
    
    
    border-color: black;
    border-width:  0px 0px 3px 3px;
    border-style: solid;
}

h2{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

p{
    clear: right;
    padding-top: 10px;
    padding-left: 5px;

}


#c1{
    background-color: rgb(209, 153, 175);
}

#c2{
    color: white;
    background-color: rgb(193,69,67);
}

#c3{
    background-color: rgb(229,209,152);
}



@media screen and (max-width: 768px) {
    

    .indcontent{
    width: 93%;
    height: 150%;
    
    background-color: rgb(197, 197, 197);
    border-color: black;
    border-width: 3px;
    border-style: solid;
    
    
    margin: auto;
    margin-top: 4%;
    
    
    }

    
    

}


@media screen and (min-width:769px) {
    

    .indcontent{
    width: 45%;
    height: 150%;
    float: left;
    background-color: rgb(197, 197, 197);
    border-color: black;
    border-width: 3px;
    border-style: solid;
    
    
    
    margin-top: 3%;
    margin-left: 3%;
    }

    .third_child{
        
        width: 93%;
    }
    

}

@media screen and ( min-width: 992px) {
    

    .indcontent{
    width: 31%;
    height: 150%;
    float: left !important;
    background-color: rgb(197, 197, 197);
    border-color: black;
    border-width: 3px;
    border-style: solid;
    margin-top: 23px;
    
    margin-left: 1.7%;
    
    
    }

    
    

}